<div class="span2 content-block" >

       <%= image_tag("yo_serio.jpg", :class => "img-circle") %>
       <br>
       <br>

       <iframe src="//www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Ffelipe.muneras&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=150&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:80px;" allowTransparency="true"></iframe>

  <!--     <h4> Entrepreneur </h4>
      <h4> Programmer </h4>
      <h4> Researcher </h4>
      <h4> Writer </h4>
      <h4> Fighter</h4> -->

    </div>