<% active = "Academics" %>
	<%= render :partial =>"navbar", :locals => {:active => "About Me"} %>

  <div class="row-fluid">
  <%= render :partial =>"sidebar" %>
    <div class="span9">
 		<div class = "content-block lead">
<h2>About Me </h2>
	<p>
	 I was born in <strong><span class="text-warning">Colo</span><span class="text-info">mb</span><span class="text-error">ia</span> </strong> where I spent my early childhood years, then opened my eyes to the world in Venezuela, enjoyed my high school years in Mexico, and now I chase my dreams in the United States, at Stanford University. 
	</br>
	</br>
	 Click on the above menu to learn about the different aspects of my life. 

<!-- <div class="post">
  <p class="pg">Latest Facebook Posts:</p>
  <fb:post href="https://www.facebook.com/felipe.muneras/posts/10151716319999888"></fb:post>
  </div>
  <fb:post href="https://www.facebook.com/felipe.muneras/lists/10151722147384888"></fb:post>
</div> -->
</div>
		</div>
  	</div>
</div>
<div class="span1">
    
</div>



 