<% active = "Academics" %>
	<%= render :partial =>"navbar", :locals => {:active => "About Me"} %>

  <div class="row-fluid">
  <%= render :partial =>"sidebar" %>
    <div class="span9">
 		<div class = "content-block lead">

	<p>
 <h2 class="center_content_title ">Latest News:</h2>
  <div class="center">Accepted to the Stanford Computer Science Masters program!!!</div>
 <br/>
 



 <h2 class = "center_content_title">Quick Bio</h2>
    Let me tell you how to make arepas, hayacas, and quesadillas. Perhaps for the rest of the world these are just typical foods from Venezuela, Colombia and Mexico. For me, these are metaphors for stages of my life.

 I was born in <strong><span class="text-warning">Colo</span><span class="text-info">mb</span><span class="text-error">ia</span> </strong>  and lived there for 7 years inside a bubble of a “perfect” youth, which was abruptly popped when my mother announced our departure to Venezuela. That’s my arepa.
<br>
<br>
I knew very little about this country and I did not fancy the idea of leaving my family behind. I later came to realize it was the most important event in my life. As opposed to Bogota, I attended an international school which gave birth to my international perspective. I had never been exposed to such a diverse environment; people with a different accent, the coastal weather, even the sound of Guacamayas song was different. My enthrallment was soon squashed when I found out all my classes in Escuela Campo Alegre were in English and that my distinct fluency in Spanish only helped in one class: Spanish.  The next 12 months truly changed my life; I was socially and academically forced to learn English, for I wanted to both understand the jokes inside the classroom and the work outside. The remaining four years flashed away fairly quickly and I still remember that night at the dinner table when my dad announced, “ We are moving to Mexico”. That's my hayaca.
<br>
<br>
Perhaps it was my previous experience with a cultural shift, or my unusual curiosity that allowed a smoother transition into a world of mariachis, the Aztec history and the nahuatl language.  That’s a quesadilla. Six years came and went and I was left wanting more, this time however I chose my destination: Stanford University. 	 

<!-- <div class="post">
  <p class="pg">Latest Facebook Posts:</p>
  <fb:post href="https://www.facebook.com/felipe.muneras/posts/10151716319999888"></fb:post>
  </div>
  <fb:post href="https://www.facebook.com/felipe.muneras/lists/10151722147384888"></fb:post>
</div> -->
</div>
		</div>
  	</div>
</div>
<div class="span1">
    
</div>



 