<% active = "Contact" %>
	<%= render :partial =>"navbar", :locals => {:active => "Contact"} %>

  <div class="row-fluid">
  <%= render :partial =>"sidebar" %>
    <div class="span9">
 		<div class = "content-block ">
<h2 class="center_content_title"> Contact </h2>
	<p class= "lead to_center" >

    If you have any questions, comments, or would like to get in touch with me please email me at: 
  </p>

    <div class="img_center">
    <%= image_tag("emails.png", :class => " img_academic")  %>
  </div>
    <br>
    <br>
    <br>  

<small><i> You may be asking yourself why I wouldn't simply just write my email down. Turns out there are plenty of bots out there scavenging for email addresses that visit web pages such as this one, they later spam these addresses with junk mail or  send malicious email to me. A picture prevents them from doing this :)  </i></small>
	
</div>
		</div>
  	</div>
</div>
<div class="span1">
    
</div>



 