<% active = "Academics" %>
	<%= render :partial =>"navbar", :locals => {:active => "Entrepreneurship"} %>

<div class="row-fluid">
  <%= render :partial =>"sidebar" %>
    <div class="span9">
 		<div class = "content-block ">
            <h1 class="center_content_title"> Entrepreneurship</h1>
            <p class="lead">
                To create, to dream boundlessly, to pursure something so passionatley you are insane to some, to leverage your environment in your favor, to leave a positive mark with those that interact with your product, to build a team that's greater than any individual, to do this, and so much more is what entrepreneurship is for me. 
            </p>
            <div class="row">
                
                <div class= "span1"> </div>
                <div class="span5">
                    <h3>Salsa</h3> 
                   
                    So what was Salsa? Well, Salsa was a company, useSalsa was our first product, but it was much more than that.  UseSalsa was supposed to be a mixture of the goodies in social networking, it was s supposed to be our interpretation on technology’s role in social interaction.  Here is what we wrote to Techcrunch’s Disrupt NYC: Salsa is a social platform that helps friends get together by posting what they feel like doing and finding friends who want to join. Salsa implements a short term group texting service that helps friends coordinate their social plans and discover new things to do. Imagine Twitter, Facebook Events, Groupon and group texting in one -- that's Salsa.
                    <br>
                    <br>

                    Basically we wanted something that would build off our already existing social lives, this means that we wanted both the technological and the real aspects of it. On one hand we have Facebook, SMS, Twitter and on the other we have lunches, parties, football games etc…  and we wanted to be the one element that put that all together. We wanted to add efficiency, dynamism, and flavor to this bridge,  all in a lightweight system that was built with the notion of little and sporadic free time. Ideally, this system would allow us to use technology to connect with friends into real life plans, seamlessly all in three simple steps. This is how Salsa was born.

                    <br>
                    <br>
                    
                    <p>
                    Salsa made waves with the press, getting articles from news sources like <a href="http://www.businessinsider.com/the-cutest-little-startup-with-a-great-big-idea-2011-5">Business Insider</a>, <a href="http://www.sfgate.com/cgi-bin/article.cgi?f=/g/a/2011/05/26/businessinsider-the-cutest-little-startup-with-a-great-big-idea-2011-5.DTL">The San Francisco Chronicle</a>, <a href="http://thedroidguy.com/2011/05/techcrunch-disrupt-live-what-is-salsa/">The Droid Guy (with video)</a>, <a href="http://www.stanforddaily.com/2011/06/02/q-and-a-with-salsa/">The Stanford Daily</a>, and even <a href="http://techcrunch.com/disrupt/video/watch/id/Q5dnhnMjq0ewkQagHMOVBdyXifOj5JiK/">TechCrunch</a> itself.</p>

                    
                    Unfortunately Salsa ended, the timing wasn't right, we made development mistakes, had problems growing our team, and struggled to balance Stanford CS and a startup. However, I am still hungry and still foolish. This was just the beginning. 
                </div>
                <div class="span4">
                    <%= image_tag("salsa_business_insider.png", :class => "img-polaroid img_academic")  %>

                    <%= image_tag("salsa_logo.png", :class => "img-polaroid img_academic")  %>


                </div>
            </div>
        </div>
	</div>
</div>
<div class="span1">
    
</div>



 