<% active = "Contact" %>
	<%= render :partial =>"navbar", :locals => {:active => "Hire"} %>

  <div class="row-fluid">
  <%= render :partial =>"sidebar" %>
    <div class="span9">
 		<div class = "content-block ">
<h2 class="center_content_title"> Hire me </h2>
	<p class= "lead to_center" >
   Hiring somebody is hard, putting teams together is a complex task, the fear of hiring an individual that won't work well with others or that overpromises and underdelivers is a problem that haunts every business. Here I will try to describe the reasons why you should and shouldn't hire me. Yes, I want to be candid here and let you know in what kind of environments I thrive in and in which I don't do well in. I will do my best to be as humble and honest as I can be. 
  </p>
    <br> 
      

    <h2 class="text-success">Why you should hire me</h2>

    <h3 >People Skills</h3>
    I believe I have good people skills. I am a great listener and I can relate to people very well. I've heard hiring managers speak of "The Beer Test" and the like, simple tests that ask a manager wether they would want to have a beer(or lunch, coffee, etc) with the person they just interviewed. I believe I pass these sort of tests. I am a naturally energetic, passionate and joyful person which makes it pleasant to work along side me. I have worked well leading teams before and I am also a great team member when led by someone else. 

     <h3>Complexity? I can handle it</h3>
    Debugging an operating system is hard, understanding how the Android security mechanism works isn't simple, determining what the optimal combination of AI algorithms to use is tricky, and ideating performance optimizations for systems isn't always easy. However, all of these have one thing in common: high complexity scenarios that need poweful minds to understand them. Whatever it is that I do, I find myself good with handling complexity. If you have a task that is complex, Stanford has prepared me well for it.  

    <h3>Out of the box thinking</h3>
    I tend to think in different ways, I come up with ideas and see situations in ways most people wouldn't. I am extremely creative. This might be really useful in some jobs (and not so much in others). 

    <h3>Failure and honesty</h3>
    I'm not afraid to screw things up, it happens, specially in software engineering! To paraphrase Fred Brooks, <i>there is still no silver bullet</i>. However, I take all of this as a learning experience to make the software I write even better. I am not afraid to admit when I break something, I will straight up say "I screwed up!".  I will tell you that I don't understand something and always give you my honest opinion.

     <h3>Meaningful Work</h3> 
    If you are doing something cool, something revolutionary, something that can change people's lives, something different and you need someone with my skills, then I'm interested.

    <h3>Above all, I'm a learner</h3>
    I learn, that's what I've been doing successfully for the past 16 years of my life. I'm good at it. I may not know the version control system that your organization uses, or the  new and upcoming programming languange, but I can learn. Quickly.

    

  
    <h2 class="text-error">Why you shouldn't</h2>

    <h3>Time pressure</h3>
    I don't do well under time pressure, I define that as a timespan of under 3 hours where I need to perform very well. I like taking time to think things before I start them. If there is only <i>doing </i> and little thinking, I won't do well. I make more mistakes than usual and don't produce the best work.

    <h3>Repetitive tasks</h3> 
    I dislike doing repetitive work. Sometimes it has to be done, but if this is the case for every single day I come in to work then I will be bored and unproductive.

    <h3>Unethical Profitable Work</h3> 
    There are plenty of companies out there that make their business out of doing unethical work or operate in the grey area of life. I don't like 'cheating' consumers out of their money, or doing anything illegal to get a company better quarterly earnings. Please don't try to hire me if you represent this kind of business. 

    

</div>
		</div>
  	</div>
</div>
<div class="span1">
    
</div>



 