// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_pic
{
	margin-right: auto;
	margin-left: auto; 
} 
body
{
	background-image: url(pattern_black.png); 
}
.container-fluid
{
	margin-top: 5px; 
}
.content-block
{
	padding:4px;
	padding-left: 15px;
	padding-right:15px;
	background-color:#fff;
	border:2px solid #4b97b3;
	/*border:1px solid rgba(0, 0, 0, 0.2);*/
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	margin-top: 5px; 
	width:100%;
	padding:10px;
}
.row
{
	margin-bottom: 20px; 
}
.img_academic
{
	margin-top: 25px; 
}
.center_content_title
{
	width:300px;
	margin-right: auto;
	margin-left:auto; 
}
#long_title
{
	width:450px;
}
.img_center
{
	margin-right: auto;
	margin-left: auto;
	width: 300px; 

}
.to_center
{
	margin-right: auto;
	margin-left: auto;
	text-align: middle; 
	width:90%;
}

.to_center_small
{
	margin-right: auto;
	margin-left: auto;
	text-align: middle; 
	width:25%;
	display:block; 
}
/*.header_link:hover
{
	color:#4b97b3;
}*/
